[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
databricks-deployment-helper = {editable = true, path = "."}
ipython = "*"
pyyaml = "*"
pytest = "==6.2.5"
glom = "==23.3.0"
gitpython = "==3.1.43"

[dev-packages]

[requires]
python_version = "3.9.5"
